<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form (ngSubmit)="adicionar()">
    <ion-item>
      <ion-label position="floating">Produto</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">
      <ion-icon name="add-circle"></ion-icon> Adicionar
    </ion-button>
  </form>

  <ion-list>
    <ion-item *ngFor="let item of lista; let i = index">
      {{ item }}
      <div slot="end">
        <ion-button color="danger" (click)="remover(item)">
          <ion-icon name='trash'></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>

</ion-content>